<div class="component">
  <p>movie-edit works!</p>
  <form
    #movieEditForm="ngForm"
    name="form"
    (ngSubmit)="movieEditForm.form.valid && onSubmit()"
    novalidate
  >
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="movietitle">Title</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="movie.title"
          name="movietitle"
          #movietitle="ngModel"
          [ngClass]="{
            'is-invalid':
              (movietitle.invalid && movietitle.touched) ||
              (existingMovieTitle$ | async)
          }"
          required
          minlength="3"
          id="movietitle"
          placeholder="The title of the movie"
        />
        <!-- Show invalidity message -->
        <div
          *ngIf="movietitle.valid && movietitle.touched"
          class="invalid-feedback"
        >
          <div *ngIf="movietitle.errors?.['required']">
            Movie name is vereist.
          </div>
          <div *ngIf="movietitle.errors?.['minlength']">
            Minum title lenght is 3
          </div>
        </div>
        <!-- end -->
      </div>
      <br />
      <div class="form-group col-sm-12 col-lg-4">
        <label for="realeaseyear">Release Year</label>
        <input
          type="year"
          class="form-control"
          [(ngModel)]="movie.year"
          name="movieyear"
          #movieyear="ngModel"
          [ngClass]="{
            'is-invalid':
              (movieyear.invalid && movieyear.touched) ||
              (existingMovieTitle$ | async)
          }"
          required
          minlength="4"
          maxlength="4"
          id="realeaseyear"
          placeholder="This the realease year of the movie"
        />
        <!-- Show invalidity message -->
        <div
          *ngIf="movieyear.valid && movieyear.touched"
          class="invalid-feedback"
        >
          <div
            *ngIf="movieyear.errors?.['required']"
            class="alert alert-danger"
          >
            Movie year is vereist.
          </div>
          <div *ngIf="movieyear.errors?.['minlength']">
            Minimum length for year is 4
          </div>
          <div *ngIf="movieyear.errors?.['maxlength']">
            Maximum length for year is 4
          </div>
        </div>
        <!-- end -->
      </div>
      <br />
      <div class="form-group col-sm-12 col-lg-4">
        <label for="moviestudio">Studio</label>
        <select
          class="form-control"
          id="moviestudio"
          [(ngModel)]="movie.studio"
          name="moviestudio"
          #moviestudio="ngModel"
          required
        >
          <!-- Populate option via object from component -->
          <ng-container *ngFor="let studio of studios$ | async">
            <option [value]="studio.name">{{ studio.name }}</option>
          </ng-container>
          <!-- end -->
        </select>
      </div>
      <br />
      <p>Age Category</p>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio1"
          value="option1"
        />
        <label class="form-check-label" for="inlineRadio1">All Family</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio2"
          value="option2"
        />
        <label class="form-check-label" for="inlineRadio2">12+</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio3"
          value="option3"
        />
        <label class="form-check-label" for="inlineRadio3">Kids</label>
      </div>
      <button type="submit" class="btn btn-primary me-1" routerLink="..">
        Save
      </button>
      <button type="submit" class="btn btn-secondary me-1" routerLink="..">
        Cancel
      </button>
    </div>
  </form>
</div>
