<div class="component">
  <p>movie-edit works!</p>
  <form
    #movieEditForm="ngForm"
    name="form"
    (ngSubmit)="movieEditForm.form.valid && onSubmit()"
    novalidate
  >
    <div class="form-row">
      <!-- Movie Title -->
      <div class="form-group col-sm-12 col-lg-4">
        <label for="movietitle">Title</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="movie.title"
          name="movietitle"
          #movietitle="ngModel"
          [ngClass]="{
            'is-invalid':
              (movietitle.invalid && movietitle.touched) ||
              (existingMovieTitle$ | async)
          }"
          required
          minlength="3"
          id="movietitle"
          placeholder="The title of the movie"
        />
        <!-- Show invalidity message -->
        <div
          *ngIf="movietitle.invalid && movietitle.touched"
          class="invalid-feedback"
        >
          <div *ngIf="movietitle.errors?.['required']">
            Movie name is vereist.
          </div>
          <div *ngIf="movietitle.errors?.['minlength']">
            Min title lenght is 3
          </div>
        </div>
        <!-- end -->
      </div>
      <br />
      <!-- Release Year -->
      <div class="form-group col-sm-12 col-lg-4">
        <label for="realeaseyear">Release Year</label>
        <input
          type="year"
          class="form-control"
          [(ngModel)]="movie.year"
          name="movieyear"
          #movieyear="ngModel"
          [ngClass]="{
            'is-invalid':
              (movieyear.invalid && movieyear.touched) ||
              (existingMovieTitle$ | async)
          }"
          required
          minlength="4"
          maxlength="4"
          id="realeaseyear"
          placeholder="This the realease year of the movie"
        />
        <!-- Show invalidity message -->
        <div
          *ngIf="movieyear.invalid && movieyear.touched"
          class="invalid-feedback"
        >
          <div *ngIf="movieyear.errors?.['required']">
            Movie year is vereist.
          </div>
          <div *ngIf="movieyear.errors?.['minlength']">
            A year must have 4 digits
          </div>
          <div *ngIf="movieyear.errors?.['maxlength']">
            A year must have 4 digits
          </div>
        </div>
        <!-- end -->
      </div>
      <br />
      <!-- Movie Studio -->
      <div class="form-group col-sm-12 col-lg-4">
        <label for="moviestudio">Studio</label>
        <select
          class="form-control"
          id="moviestudio"
          [(ngModel)]="movie.studio"
          name="moviestudio"
          #moviestudio="ngModel"
          required
          [ngClass]="{
            'is-invalid': moviestudio.invalid && moviestudio.touched
          }"
        >
          <option value="" selected>Select</option>

          <!-- Populate option via object from component -->
          <ng-container *ngFor="let studio of studios$ | async">
            <option [value]="studio.name">{{ studio.name }}</option>
          </ng-container>
          <!-- end -->
        </select>
        <!-- Show invalidity message -->
        <div
          *ngIf="moviestudio.invalid && moviestudio.dirty"
          class="invalid-feedback"
        >
          Studio is vereist
        </div>
        <!-- end -->
      </div>
      <br />
      <!-- Movie Age Category -->
      <p>Age Category</p>
      <div
        class="form-check form-check-inline"
        *ngFor="let category of ageCategory"
      >
        <label class="form-check-label" for="category_{{ category }}">
          <input
            id="category_{{ category }}"
            [value]="category"
            type="radio"
            name="enums"
            #enums="ngModel"
            [(ngModel)]="movie.ageCategory"
          />
          {{ category }}
        </label>
      </div>

      <!-- Submit buttons -->
      <button
        type="submit"
        class="btn btn-primary me-1"
        [disabled]="!movieEditForm.valid"
      >
        Save
      </button>
      <button type="submit" class="btn btn-secondary me-1" routerLink="..">
        Cancel
      </button>
    </div>
  </form>
</div>
